In [5]:
# The %... is an iPython thing, and is not part of the Python language.
# In this case we're just telling the plotting library to draw things on
# the notebook, instead of on a separate window.
%matplotlib inline 
#this line above prepares IPython notebook for working with matplotlib

# See all the "as ..." contructs? They're just aliasing the package names.
# That way we can call methods like plt.plot() instead of matplotlib.pyplot.plot().

import numpy as np # imports a fast numerical programming library
import scipy as sp #imports stats functions, amongst other things
import matplotlib as mpl # this actually imports matplotlib
import matplotlib.cm as cm #allows us easy access to colormaps
import matplotlib.pyplot as plt #sets up plotting under plt
import pandas as pd #lets us handle data as dataframes
#sets up pandas table display
pd.set_option('display.width', 500)
pd.set_option('display.max_columns', 100)
pd.set_option('display.notebook_repr_html', True)
import seaborn as sns #sets up styles and gives us more plotting options

In [10]:
dt = pd.read_csv("all.csv", header = None, names=["rating", 'review_count', 'isbn', 'booktype','author_url', 'year', 'genre_urls', 'dir','rating_count', 'name'])
dt.head()

   rating review_count        isbn         booktype                                         author_url    year                                         genre_urls                                                dir rating_count                                               name
0    4.40       136455  0439023483  good_reads:book  https://www.goodreads.com/author/show/153394.S...  2008.0  /genres/young-adult|/genres/science-fiction|/g...                dir01/2767052-the-hunger-games.html      2958974            The Hunger Games (The Hunger Games, #1)
1    4.41        16648  0439358078  good_reads:book  https://www.goodreads.com/author/show/1077326....  2003.0  /genres/fantasy|/genres/young-adult|/genres/fi...  dir01/2.Harry_Potter_and_the_Order_of_the_Phoe...      1284478  Harry Potter and the Order of the Phoenix (Har...
2    3.56        85746  0316015849  good_reads:book  https://www.goodreads.com/author/show/941441.S...  2005.0  /genres/young-adult|/genres/fantasy|/genres/ro...                          dir01/41865.Twilight.html      2579564                            Twilight (Twilight, #1)
3    4.23        47906  0061120081  good_reads:book  https://www.goodreads.com/author/show/1825.Har...  1960.0  /genres/classics|/genres/fiction|/genres/histo...              dir01/2657.To_Kill_a_Mockingbird.html      2078123                              To Kill a Mockingbird
4    4.23        34772  0679783261  good_reads:book  https://www.goodreads.com/author/show/1265.Jan...  1813.0  /genres/classics|/genres/fiction|/genres/roman...                dir01/1885.Pride_and_Prejudice.html      1388992                                Pride and Prejudice

In [14]:
dt.dtypes

rating          float64
review_count     object
isbn             object
booktype         object
author_url       object
year            float64
genre_urls       object
dir              object
rating_count     object
name             object
dtype: object

In [19]:
dt.shape

(6000, 10)

In [25]:
dt.rating

0       4.40
1       4.41
2       3.56
3       4.23
4       4.23
5       4.25
6       4.22
7       4.38
8       3.79
9       4.18
10      4.03
11      3.72
12      4.36
13      4.05
14      3.72
15      4.09
16      3.92
17      4.58
18      3.60
19      4.28
20      4.02
21      4.14
22      4.11
23      4.20
24      3.75
25      3.94
26      4.43
27      3.79
28      4.04
29      3.94
        ...
5970    3.97
5971    4.24
5972    4.19
5973    4.17
5974    3.99
5975    4.07
5976    4.23
5977    4.03
5978    3.99
5979    2.77
5980    3.84
5981    3.36
5982    4.09
5983    4.23
5984    4.02
5985    3.61
5986    4.06
5987    4.26
5988    4.34
5989    3.36
5990    4.12
5991    4.20
5992    3.89
5993    4.09
5994    4.37
5995    4.17
5996    3.99
5997    3.78
5998    3.91
5999    4.35
Name: rating, Length: 6000, dtype: float64

In [22]:
dt.columns

Index(['rating', 'review_count', 'isbn', 'booktype', 'author_url', 'year', 'genre_urls', 'dir', 'rating_count', 'name'], dtype='object')

In [26]:
b = dt.rating < 3

In [27]:
for i in b:

SyntaxError: unexpected EOF while parsing (<ipython-input-27-359b78a79afb>, line 1)